.aboutContainer {
  margin-bottom: 75px;
}

.aboutTextLeft {
  display: grid;
  grid-template-columns: 65% 35%;
}

.aboutTextRight {
  display: grid;
  grid-template-columns: 35% 65%;
}

.aboutSeperator {
  display: block;
  margin-top: 75px;
  line-height: 22px;
  content: "";
}
