.headerContainer {
  width: 10vh;
  height: 100vh;
  position: fixed;
  background-color: rgba(157, 180, 192);
  margin: auto;
}

.headerItem {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
}

.navbar {
  list-style: none;
  padding: 0;
  margin: auto;
  display: flex;
  align-items: center;
  flex-direction: column;
  height: 100%;
}

.navContainer {
  height: 100%;
}

.navLink {
  text-decoration: none;
  display: flex;
  height: 2rem;
  align-items: center;
}

.navItem {
  width: 100%;
}

.navItem:last-child {
  margin-top: auto;
}
