.starredSitesContainer {
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.siteImageContainer {
  max-width: 500px;
}
.starredSiteScreenshot {
  height: auto;
  width: 100%;
}

.starredSiteItem {
  display: flex;
  align-items: center;
  flex-direction: row;
}
