.nonStarredSitesSectionContainer {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  gap: 25px;
}

.nonStarredSiteItem {
  height: 100%;
  position: relative;
}
.nonStarredSiteItem:hover {
  height: 0;
}

.nonStarredScreenshot {
  width: 100%;
  height: auto;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
  z-index: 10;
  position: relative;
}
.nonStarredScreenshot:hover {
  cursor: pointer;
  z-index: 100;
}

.onHoverInfo {
  position: absolute;
  left: 100%;
  top: 0;
  visibility: hidden;
  transform: translateX(-100%);
  margin: auto;
  z-index: 20;
}

.nonStarredScreenshot:hover ~ .onHoverInfo {
  color: white;
  background: black;
  visibility: visible;
  transition: 1s ease-in-out;
  display: flex;
  transform: translateX(0%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
}
.onHoverInfo:hover {
  color: white;
  background: black;
  visibility: visible;
  transition: 1s ease-in-out;
  display: flex;
  transform: translateX(0%);
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  width: 100%;
  z-index: 3;
}

.onHoverInfo:hover ~ .nonStarredScreenshot {
  z-index: 100;
  cursor: pointer;
}
